.codebgcolor {background-color: black;}
.code{ background-color: #333333; }
.highlight{ background-color: #333333; }

:root {
    --pst-color-preformatted-background: 38, 50, 56;
} 

.admonition.learngoals {
    border-color:#FC5555;
}

.admonition.learngoals .admonition-title{background-color: #FCCCCC;}
.admonition.learngoals .admonition-title:before{color:#FC5555;content:""}

.sc-lightblue {color: #4c72ca;}
.sc-red {color: #FC5555}
.sc-lightred {color: #FCCCCC;}

div.exercise {border-color: #ccc; background-color: rgba(194, 192, 189, 0.2);}
div.exercise p.admonition-title {background-color: rgba(194, 192, 189, 0.2);}

div.proof {border-color: #ccc; background-color: #FFF;}
div.proof p.admonition-title {background-color: #FFF;}
.admonition.proof .admonition-title:before{color:#FFF;content:"";}

div.theorem {border-color: #FC5555; background-color: rgba(252, 204, 204, 0.4);}
div.theorem p.admonition-title {background-color: rgba(252, 204, 204, 1.0);}
.admonition.theorem .admonition-title:before{color:#FC5555;content:""}

div.conjecture {border-color: #FC5555; background-color: rgba(252, 204, 204, 0.4);}
div.conjecture p.admonition-title {background-color: rgba(252, 204, 204, 1.0);}
.admonition.conjecture .admonition-title:before{color:#FC5555;content:""}

div.admonition.attention,
div.attention {border-color: #FC5555; background-color: rgba(252, 204, 204, 0.4);}
.admonition.attention {border-color: #FC5555; background-color: rgba(252, 204, 204, 0.4);}
div.attention,
p.admonition-title {background-color: rgba(252, 204, 204, 1.0);}
.admonition.attention>.admonition-title:before,
div.admonition.attention>.admonition-title:before,
.admonition.attention,
.admonition-title:before{color:#FC5555;content:""}
.admonition.attention,
.admonition.attention>.admonition-title,
div.admonition.attention>.admonition-title,
.admonition-title{background-color: rgba(252, 204, 204, 1.0);}

.admonition.definition .admonition-title:before{content:""}
div.definition {border-color: rgb(0, 123, 255); background-color: rgb(90, 163, 240, 0.2);}
div.definition p.admonition-title {background-color: rgba(90, 163, 240, 0.4);}

.admonition.sc .admonition-title:before{content:""}
div.sc {border-color: rgb(0, 123, 255); background-color: rgb(90, 163, 240, 0.2);}
div.sc p.admonition-title {background-color: rgba(90, 163, 240, 0.4);}

div.remark {border-color: #ffc107; background-color: rgba(255, 193, 7, 0.2);}
div.remark p.admonition-title {background-color: rgba(255, 193, 7, 0.2);}
.admonition.remark .admonition-title:before{color:#ffc107;content:""}

.footer {
	width: auto;
	text-align: center;
    color: #5a5a5a;
    background-color: #FFFFFF;
    font-size: 9pt;
}