:root {
    --pst-color-primary: 45, 55, 72;
    --pst-font-size-base: 17px;
    --pst-font-size-pre: 16px;
    --pst-font-family-base: Optima, Candara, Calibri, sans-serif, var(--pst-font-family-base-system);
    --pst-font-family-heading: Optima, Candara, Calibri, sans-serif, var(--pst-font-family-base-system);
    --pst-font-family-monospace: Courier, var(--pst-font-family-monospace-system);
}

html[data-theme=dark], html[data-theme=light] {
    --pst-color-inline-code: #F07178;
}

.navbar-brand img {
    max-width: 60%;
}

code {
    color: var(--pst-color-inline-code);
}

html[data-theme=dark] .bd-content div.cell_output .text_html, html[data-theme=dark] .bd-content div.cell_output img {
    background-color: var(--pst-color-background);
}

.pre {
    font-size: var(--pst-font-size-pre);
}

div.highlight-isc pre {
    background-color: #302f2d;
    color: #ffffff;
    font-size: 16px;
}

div.highlight-supercollider pre {
    background-color: #302f2d;
    color: #ffffff;
    font-size: 16px;
}

div.highlight pre {
    background-color: #302f2d;
    color: #ffffff;
    font-size: 16px;
}

pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }

html[data-theme="light"] .highlight .hll { background-color: #ffffcc }
html[data-theme="light"] .highlight { background: #f8f8f8; }
html[data-theme="light"] .highlight .c { color: rgb(84, 110, 122); font-style: normal;} /* Comment */
html[data-theme="light"] .highlight .err { color: rgb(80, 210, 240); font-weight: normal;} /* Error */
html[data-theme="light"] .highlight .g { color: #ffffff } /* Generic */
html[data-theme="light"] .highlight .k { color: rgb(130, 170, 255); font-weight: normal;} /* Keyword */
html[data-theme="light"] .highlight .l { color: #ffffff } /* Literal */
html[data-theme="light"] .highlight .n { color: #ffffff } /* Name */
html[data-theme="light"] .highlight .o { color: rgb(240, 113, 120); font-weight: normal;} /* Operator */
html[data-theme="light"] .highlight .x { color: #000000 } /* Other */
html[data-theme="light"] .highlight .p { color: #ffffff; font-weight: normal;} /* Punctuation */
html[data-theme="light"] .highlight .ch { color: rgb(84, 110, 122); font-style: normal;} /* Comment.Hashbang */
html[data-theme="light"] .highlight .cm { color: rgb(84, 110, 122); font-style: normal;} /* Comment.Multiline */
html[data-theme="light"] .highlight .cp { color: rgb(84, 110, 122); font-style: normal;} /* Comment.Preproc */
html[data-theme="light"] .highlight .cpf { color: rgb(84, 110, 122); font-style: normal;} /* Comment.PreprocFile */
html[data-theme="light"] .highlight .c1 { color: rgb(84, 110, 122); font-style: normal;} /* Comment.Single */
html[data-theme="light"] .highlight .cs { color: rgb(84, 110, 122); font-style: normal;} /* Comment.Special */
html[data-theme="light"] .highlight .gd { color: #a40000 } /* Generic.Deleted */
html[data-theme="light"] .highlight .ge { color: #000000; font-style: italic } /* Generic.Emph */
html[data-theme="light"] .highlight .gr { color: #ef2929 } /* Generic.Error */
html[data-theme="light"] .highlight .gh { color: #000080; } /* Generic.Heading */
html[data-theme="light"] .highlight .gi { color: #00A000 } /* Generic.Inserted */
html[data-theme="light"] .highlight .go { color: #ffffff; font-style: italic } /* Generic.Output */
html[data-theme="light"] .highlight .gp { color: #8f5902 } /* Generic.Prompt */
html[data-theme="light"] .highlight .gs { color: #ffffff;} /* Generic.Strong */
html[data-theme="light"] .highlight .gu { color: #800080;} /* Generic.Subheading */
html[data-theme="light"] .highlight .gt { color: #a40000;} /* Generic.Traceback */
html[data-theme="light"] .highlight .kc { color: rgb(255, 255, 130); font-weight: normal;} /* Keyword.Constant */
html[data-theme="light"] .highlight .kd { color: rgb(251, 104, 246); font-weight: normal;} /* Keyword.Declaration */
html[data-theme="light"] .highlight .kn { color: rgb(130, 170, 255); font-weight: normal;} /* Keyword.Namespace */
html[data-theme="light"] .highlight .kp { color: rgb(130, 170, 255); font-weight: normal;} /* Keyword.Pseudo */
html[data-theme="light"] .highlight .kr { color: rgb(130, 170, 255); font-weight: normal;} /* Keyword.Reserved */
html[data-theme="light"] .highlight .kt { color: rgb(130, 170, 255); font-weight: normal;} /* Keyword.Type */
html[data-theme="light"] .highlight .ld { color: #000000 } /* Literal.Date */
html[data-theme="light"] .highlight .m { color: #0000cf; } /* Literal.Number */
html[data-theme="light"] .highlight .s { color: #64ec5d } /* Literal.String */
html[data-theme="light"] .highlight .na { color: #c4a000 } /* Name.Attribute */
html[data-theme="light"] .highlight .nb { color: rgb(130, 170, 255); font-weight: normal;} /* Name.Builtin */
html[data-theme="light"] .highlight .nc { color: rgb(80, 210, 240); font-weight: normal;} /* Name.Class */
html[data-theme="light"] .highlight .no { color: #ffffff } /* Name.Constant */
html[data-theme="light"] .highlight .nd { color: #5c35cc } /* Name.Decorator */
html[data-theme="light"] .highlight .ni { color: #ce5c00 } /* Name.Entity */
html[data-theme="light"] .highlight .ne { color: #cc0000 } /* Name.Exception */
html[data-theme="light"] .highlight .nf { color: #ffffff } /* Name.Function */
html[data-theme="light"] .highlight .nl { color: #f57900 } /* Name.Label */
html[data-theme="light"] .highlight .nn { color: #ffffff } /* Name.Namespace */
html[data-theme="light"] .highlight .nx { color: #ffffff } /* Name.Other */
html[data-theme="light"] .highlight .py { color: #ffffff } /* Name.Property */
html[data-theme="light"] .highlight .nt { color: #204a87; } /* Name.Tag */
html[data-theme="light"] .highlight .nv { color: #000000 } /* Name.Variable */
html[data-theme="light"] .highlight .ow { color: #204a87;} /* Operator.Word */
html[data-theme="light"] .highlight .pm { color: #ffffff; } /* Punctuation.Marker */
html[data-theme="light"] .highlight .w { color: #f8f8f8 } /* Text.Whitespace */
html[data-theme="light"] .highlight .mb { color: rgb(199, 146, 234);font-weight: normal;} /* Literal.Number.Bin */
html[data-theme="light"] .highlight .mf { color: rgb(199, 146, 234);font-weight: normal;} /* Literal.Number.Float */
html[data-theme="light"] .highlight .mh { color: rgb(199, 146, 234);font-weight: normal;} /* Literal.Number.Hex */
html[data-theme="light"] .highlight .mi { color: rgb(199, 146, 234);font-weight: normal;} /* Literal.Number.Integer */
html[data-theme="light"] .highlight .mo { color: rgb(199, 146, 234);font-weight: normal;} /* Literal.Number.Oct */
html[data-theme="light"] .highlight .sa { color: #64ec5d } /* Literal.String.Affix */
html[data-theme="light"] .highlight .sb { color: #64ec5d } /* Literal.String.Backtick */
html[data-theme="light"] .highlight .sc { color: #64ec5d } /* Literal.String.Char */
html[data-theme="light"] .highlight .dl { color: #64ec5d } /* Literal.String.Delimiter */
html[data-theme="light"] .highlight .sd { color: #8f5902; font-style: italic } /* Literal.String.Doc */
html[data-theme="light"] .highlight .s2 { color: #64ec5d } /* Literal.String.Double */
html[data-theme="light"] .highlight .se { color: #64ec5d } /* Literal.String.Escape */
html[data-theme="light"] .highlight .sh { color: #64ec5d } /* Literal.String.Heredoc */
html[data-theme="light"] .highlight .si { color: #64ec5d } /* Literal.String.Interpol */
html[data-theme="light"] .highlight .sx { color: #64ec5d } /* Literal.String.Other */
html[data-theme="light"] .highlight .sr { color: #64ec5d } /* Literal.String.Regex */
html[data-theme="light"] .highlight .s1 { color: #64ec5d } /* Literal.String.Single */
html[data-theme="light"] .highlight .ss { color: #64ec5d } /* Literal.String.Symbol */
html[data-theme="light"] .highlight .bp { color: #3465a4 } /* Name.Builtin.Pseudo */
html[data-theme="light"] .highlight .fm { color: #ffffff } /* Name.Function.Magic */
html[data-theme="light"] .highlight .vc { color: #ffffff } /* Name.Variable.Class */
html[data-theme="light"] .highlight .vg { color: #ffffff } /* Name.Variable.Global */
html[data-theme="light"] .highlight .vi { color: #ffffff } /* Name.Variable.Instance */
html[data-theme="light"] .highlight .vm { color: #ffffff } /* Name.Variable.Magic */
html[data-theme="light"] .highlight .il { color: rgb(199, 146, 234); font-weight: normal;} /* Literal.Number.Integer.Long */


html[data-theme=dark] .highlight .hll { background-color: #ffffcc }
html[data-theme=dark] .highlight { background: #f8f8f8; }
html[data-theme=dark] .highlight .c { color: rgb(84, 110, 122); font-style: normal;} /* Comment */
html[data-theme=dark] .highlight .err { color: rgb(80, 210, 240); font-weight: normal;} /* Error */
html[data-theme=dark] .highlight .g { color: #ffffff } /* Generic */
html[data-theme=dark] .highlight .k { color: rgb(130, 170, 255); font-weight: normal;} /* Keyword */
html[data-theme=dark] .highlight .l { color: #ffffff } /* Literal */
html[data-theme=dark] .highlight .n { color: #ffffff } /* Name */
html[data-theme=dark] .highlight .o { color: rgb(240, 113, 120); font-weight: normal;} /* Operator */
html[data-theme=dark] .highlight .x { color: #000000 } /* Other */
html[data-theme=dark] .highlight .p { color: #ffffff; font-weight: normal;} /* Punctuation */
html[data-theme=dark] .highlight .ch { color: rgb(84, 110, 122); font-style: normal;} /* Comment.Hashbang */
html[data-theme=dark] .highlight .cm { color: rgb(84, 110, 122); font-style: normal;} /* Comment.Multiline */
html[data-theme=dark] .highlight .cp { color: rgb(84, 110, 122); font-style: normal;} /* Comment.Preproc */
html[data-theme=dark] .highlight .cpf { color: rgb(84, 110, 122); font-style: normal;} /* Comment.PreprocFile */
html[data-theme=dark] .highlight .c1 { color: rgb(84, 110, 122); font-style: normal;} /* Comment.Single */
html[data-theme=dark] .highlight .cs { color: rgb(84, 110, 122); font-style: normal;} /* Comment.Special */
html[data-theme=dark] .highlight .gd { color: #a40000 } /* Generic.Deleted */
html[data-theme=dark] .highlight .ge { color: #000000; font-style: italic } /* Generic.Emph */
html[data-theme=dark] .highlight .gr { color: #ef2929 } /* Generic.Error */
html[data-theme=dark] .highlight .gh { color: #000080; } /* Generic.Heading */
html[data-theme=dark] .highlight .gi { color: #00A000 } /* Generic.Inserted */
html[data-theme=dark] .highlight .go { color: #ffffff; font-style: italic } /* Generic.Output */
html[data-theme=dark] .highlight .gp { color: #8f5902 } /* Generic.Prompt */
html[data-theme=dark] .highlight .gs { color: #ffffff;} /* Generic.Strong */
html[data-theme=dark] .highlight .gu { color: #800080;} /* Generic.Subheading */
html[data-theme=dark] .highlight .gt { color: #a40000;} /* Generic.Traceback */
html[data-theme=dark] .highlight .kc { color: rgb(255, 255, 130); font-weight: normal;} /* Keyword.Constant */
html[data-theme=dark] .highlight .kd { color: rgb(251, 104, 246); font-weight: normal;} /* Keyword.Declaration */
html[data-theme=dark] .highlight .kn { color: rgb(130, 170, 255); font-weight: normal;} /* Keyword.Namespace */
html[data-theme=dark] .highlight .kp { color: rgb(130, 170, 255); font-weight: normal;} /* Keyword.Pseudo */
html[data-theme=dark] .highlight .kr { color: rgb(130, 170, 255); font-weight: normal;} /* Keyword.Reserved */
html[data-theme=dark] .highlight .kt { color: rgb(130, 170, 255); font-weight: normal;} /* Keyword.Type */
html[data-theme=dark] .highlight .ld { color: #000000 } /* Literal.Date */
html[data-theme=dark] .highlight .m { color: #0000cf; } /* Literal.Number */
html[data-theme=dark] .highlight .s { color: #64ec5d } /* Literal.String */
html[data-theme=dark] .highlight .na { color: #c4a000 } /* Name.Attribute */
html[data-theme=dark] .highlight .nb { color: rgb(130, 170, 255); font-weight: normal;} /* Name.Builtin */
html[data-theme=dark] .highlight .nc { color: rgb(80, 210, 240); font-weight: normal;} /* Name.Class */
html[data-theme=dark] .highlight .no { color: #ffffff } /* Name.Constant */
html[data-theme=dark] .highlight .nd { color: #5c35cc } /* Name.Decorator */
html[data-theme=dark] .highlight .ni { color: #ce5c00 } /* Name.Entity */
html[data-theme=dark] .highlight .ne { color: #cc0000 } /* Name.Exception */
html[data-theme=dark] .highlight .nf { color: #ffffff } /* Name.Function */
html[data-theme=dark] .highlight .nl { color: #f57900 } /* Name.Label */
html[data-theme=dark] .highlight .nn { color: #ffffff } /* Name.Namespace */
html[data-theme=dark] .highlight .nx { color: #ffffff } /* Name.Other */
html[data-theme=dark] .highlight .py { color: #ffffff } /* Name.Property */
html[data-theme=dark] .highlight .nt { color: #204a87; } /* Name.Tag */
html[data-theme=dark] .highlight .nv { color: #000000 } /* Name.Variable */
html[data-theme=dark] .highlight .ow { color: #204a87;} /* Operator.Word */
html[data-theme=dark] .highlight .pm { color: #ffffff; } /* Punctuation.Marker */
html[data-theme=dark] .highlight .w { color: #f8f8f8 } /* Text.Whitespace */
html[data-theme=dark] .highlight .mb { color: rgb(199, 146, 234);font-weight: normal;} /* Literal.Number.Bin */
html[data-theme=dark] .highlight .mf { color: rgb(199, 146, 234);font-weight: normal;} /* Literal.Number.Float */
html[data-theme=dark] .highlight .mh { color: rgb(199, 146, 234);font-weight: normal;} /* Literal.Number.Hex */
html[data-theme=dark] .highlight .mi { color: rgb(199, 146, 234);font-weight: normal;} /* Literal.Number.Integer */
html[data-theme=dark] .highlight .mo { color: rgb(199, 146, 234);font-weight: normal;} /* Literal.Number.Oct */
html[data-theme=dark] .highlight .sa { color: #64ec5d } /* Literal.String.Affix */
html[data-theme=dark] .highlight .sb { color: #64ec5d } /* Literal.String.Backtick */
html[data-theme=dark] .highlight .sc { color: #64ec5d } /* Literal.String.Char */
html[data-theme=dark] .highlight .dl { color: #64ec5d } /* Literal.String.Delimiter */
html[data-theme=dark] .highlight .sd { color: #8f5902; font-style: italic } /* Literal.String.Doc */
html[data-theme=dark] .highlight .s2 { color: #64ec5d } /* Literal.String.Double */
html[data-theme=dark] .highlight .se { color: #64ec5d } /* Literal.String.Escape */
html[data-theme=dark] .highlight .sh { color: #64ec5d } /* Literal.String.Heredoc */
html[data-theme=dark] .highlight .si { color: #64ec5d } /* Literal.String.Interpol */
html[data-theme=dark] .highlight .sx { color: #64ec5d } /* Literal.String.Other */
html[data-theme=dark] .highlight .sr { color: #64ec5d } /* Literal.String.Regex */
html[data-theme=dark] .highlight .s1 { color: #64ec5d } /* Literal.String.Single */
html[data-theme=dark] .highlight .ss { color: #64ec5d } /* Literal.String.Symbol */
html[data-theme=dark] .highlight .bp { color: #3465a4 } /* Name.Builtin.Pseudo */
html[data-theme=dark] .highlight .fm { color: #ffffff } /* Name.Function.Magic */
html[data-theme=dark] .highlight .vc { color: #ffffff } /* Name.Variable.Class */
html[data-theme=dark] .highlight .vg { color: #ffffff } /* Name.Variable.Global */
html[data-theme=dark] .highlight .vi { color: #ffffff } /* Name.Variable.Instance */
html[data-theme=dark] .highlight .vm { color: #ffffff } /* Name.Variable.Magic */
html[data-theme=dark] .highlight .il { color: rgb(199, 146, 234); font-weight: normal;} /* Literal.Number.Integer.Long */

/*:root {
--pst-color-primary: 255, 255, 255;
--pst-color-paragraph: rgba(255, 255, 255, 0.92);
}*/


.footer {
    width: auto;
    text-align: center;
    font-size: 9pt;
}

/*#main-content {
    background-color: #2D3748;
}

.row {
    background-color: #171923;
}*/

/*body {
    font-family: 400 18px/1.5 "Noto Serif", "Droid Serif", Georgia, Times, serif;
    font-size: 17px;
    font-weight: 500;
}

tbody {
    font-family: monospace;
}*/


.hm-lightblue {color: #4c72ca;}
.hm-red {color: #FC5555}
.hm-lightred {color: #FCCCCC;}

html[data-theme=dark] div.remark {border-color: rgba(7, 255, 48, 0.2); background-color: #173b1c;}
html[data-theme=dark] div.remark p.admonition-title {background-color: rgba(7, 255, 48, 0.2);}
html[data-theme=dark] div.admonition.remark>.admonition-title:after{color:#ffc107;content:""}

html[data-theme=dark] div.attention {border-color: rgb(199, 55, 55); background-color: rgba(200, 75, 75, 0.2);}
html[data-theme=dark] div.attention p.admonition-title {background-color: rgb(199, 55, 55);}
html[data-theme=dark] div.admonition.attention>.admonition-title:after{color:rgb(78, 31, 31);content:""}

html[data-theme=dark] div.theorem {border-color: rgb(199, 55, 55); background-color: rgba(200, 75, 75, 0.2);}
html[data-theme=dark] div.theorem p.admonition-title {background-color: rgb(199, 55, 55);}
html[data-theme=dark] div.admonition.theorem>.admonition-title:after{color:rgb(78, 31, 31);content:""}



html[data-theme="light"] div.remark {border-color: rgba(100, 208, 118, 0.8); background-color: #cef3d3;}
html[data-theme="light"] div.remark p.admonition-title {background-color: rgba(100, 208, 118, 0.8);}
html[data-theme="light"] div.admonition.remark>.admonition-title:after{color:#ffc107;content:""}

html[data-theme="light"] div.attention {border-color: rgba(242, 112, 112, 0.8); background-color: rgba(244, 216, 216, 0.8)}
html[data-theme="light"] div.attention p.admonition-title {background-color: rgba(242, 112, 112, 0.8);}
html[data-theme="light"] div.admonition.attention>.admonition-title:after{color:rgba(244, 216, 216, 0.8);content:""}

html[data-theme="light"] div.theorem {border-color: rgba(242, 112, 112, 0.8); background-color: rgba(244, 216, 216, 0.8);}
html[data-theme="light"] div.theorem p.admonition-title {background-color: rgba(242, 112, 112, 0.8);}
html[data-theme="light"] div.admonition.theorem>.admonition-title:after{color:rgba(244, 216, 216, 0.8);content:""}

html[data-theme="light"] div.definition {background-color: rgba(240, 240, 240, 1.0);}