:root {
    --pst-color-primary: 45, 55, 72;
    --pst-font-size-base: 15px;
    --pst-font-size-pre: 16px;
    --pst-font-family-base: Verdana, var(--pst-font-family-base-system);
    --pst-font-family-heading: Cambria, Georgia, Times, var(--pst-font-family-base-system);
    --pst-font-family-monospace: Courier, var(--pst-font-family-monospace-system);
    --pst-color-inline-code: 240, 113, 120;
}

.pre {
    font-size: var(--pst-font-size-pre);
}

div.highlight-isc pre {
    background-color: #302f2d;
    color: #ffffff;
    font-size: 16px;
}

div.highlight-supercollider pre {
    background-color: #302f2d;
    color: #ffffff;
    font-size: 16px;
}

div.highlight pre {
    background-color: #302f2d;
    color: #ffffff;
    font-size: 16px;
}

pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight .hll { background-color: #ffffcc }
.highlight { background: #f8f8f8; }
.highlight .c { color: rgb(84, 110, 122); font-style: normal;} /* Comment */
.highlight .err { color: rgb(80, 210, 240); font-weight: normal;} /* Error */
.highlight .g { color: #ffffff } /* Generic */
.highlight .k { color: rgb(130, 170, 255); font-weight: normal;} /* Keyword */
.highlight .l { color: #ffffff } /* Literal */
.highlight .n { color: #ffffff } /* Name */
.highlight .o { color: rgb(240, 113, 120); font-weight: normal;} /* Operator */
.highlight .x { color: #000000 } /* Other */
.highlight .p { color: #ffffff; font-weight: normal;} /* Punctuation */
.highlight .ch { color: rgb(84, 110, 122); font-style: normal;} /* Comment.Hashbang */
.highlight .cm { color: rgb(84, 110, 122); font-style: normal;} /* Comment.Multiline */
.highlight .cp { color: rgb(84, 110, 122); font-style: normal;} /* Comment.Preproc */
.highlight .cpf { color: rgb(84, 110, 122); font-style: normal;} /* Comment.PreprocFile */
.highlight .c1 { color: rgb(84, 110, 122); font-style: normal;} /* Comment.Single */
.highlight .cs { color: rgb(84, 110, 122); font-style: normal;} /* Comment.Special */
.highlight .gd { color: #a40000 } /* Generic.Deleted */
.highlight .ge { color: #000000; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #ef2929 } /* Generic.Error */
.highlight .gh { color: #000080; } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #ffffff; font-style: italic } /* Generic.Output */
.highlight .gp { color: #8f5902 } /* Generic.Prompt */
.highlight .gs { color: #ffffff;} /* Generic.Strong */
.highlight .gu { color: #800080;} /* Generic.Subheading */
.highlight .gt { color: #a40000;} /* Generic.Traceback */
.highlight .kc { color: rgb(255, 255, 130); font-weight: normal;} /* Keyword.Constant */
.highlight .kd { color: rgb(251, 104, 246); font-weight: normal;} /* Keyword.Declaration */
.highlight .kn { color: rgb(130, 170, 255); font-weight: normal;} /* Keyword.Namespace */
.highlight .kp { color: rgb(130, 170, 255); font-weight: normal;} /* Keyword.Pseudo */
.highlight .kr { color: rgb(130, 170, 255); font-weight: normal;} /* Keyword.Reserved */
.highlight .kt { color: rgb(130, 170, 255); font-weight: normal;} /* Keyword.Type */
.highlight .ld { color: #000000 } /* Literal.Date */
.highlight .m { color: #0000cf; } /* Literal.Number */
.highlight .s { color: #64ec5d } /* Literal.String */
.highlight .na { color: #c4a000 } /* Name.Attribute */
.highlight .nb { color: rgb(130, 170, 255); font-weight: normal;} /* Name.Builtin */
.highlight .nc { color: rgb(80, 210, 240); font-weight: normal;} /* Name.Class */
.highlight .no { color: #ffffff } /* Name.Constant */
.highlight .nd { color: #5c35cc } /* Name.Decorator */
.highlight .ni { color: #ce5c00 } /* Name.Entity */
.highlight .ne { color: #cc0000 } /* Name.Exception */
.highlight .nf { color: #ffffff } /* Name.Function */
.highlight .nl { color: #f57900 } /* Name.Label */
.highlight .nn { color: #ffffff } /* Name.Namespace */
.highlight .nx { color: #ffffff } /* Name.Other */
.highlight .py { color: #ffffff } /* Name.Property */
.highlight .nt { color: #204a87; } /* Name.Tag */
.highlight .nv { color: #000000 } /* Name.Variable */
.highlight .ow { color: #204a87;} /* Operator.Word */
.highlight .pm { color: #ffffff; } /* Punctuation.Marker */
.highlight .w { color: #f8f8f8 } /* Text.Whitespace */
.highlight .mb { color: rgb(199, 146, 234);font-weight: normal;} /* Literal.Number.Bin */
.highlight .mf { color: rgb(199, 146, 234);font-weight: normal;} /* Literal.Number.Float */
.highlight .mh { color: rgb(199, 146, 234);font-weight: normal;} /* Literal.Number.Hex */
.highlight .mi { color: rgb(199, 146, 234);font-weight: normal;} /* Literal.Number.Integer */
.highlight .mo { color: rgb(199, 146, 234);font-weight: normal;} /* Literal.Number.Oct */
.highlight .sa { color: #64ec5d } /* Literal.String.Affix */
.highlight .sb { color: #64ec5d } /* Literal.String.Backtick */
.highlight .sc { color: #64ec5d } /* Literal.String.Char */
.highlight .dl { color: #64ec5d } /* Literal.String.Delimiter */
.highlight .sd { color: #8f5902; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #64ec5d } /* Literal.String.Double */
.highlight .se { color: #64ec5d } /* Literal.String.Escape */
.highlight .sh { color: #64ec5d } /* Literal.String.Heredoc */
.highlight .si { color: #64ec5d } /* Literal.String.Interpol */
.highlight .sx { color: #64ec5d } /* Literal.String.Other */
.highlight .sr { color: #64ec5d } /* Literal.String.Regex */
.highlight .s1 { color: #64ec5d } /* Literal.String.Single */
.highlight .ss { color: #64ec5d } /* Literal.String.Symbol */
.highlight .bp { color: #3465a4 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #ffffff } /* Name.Function.Magic */
.highlight .vc { color: #ffffff } /* Name.Variable.Class */
.highlight .vg { color: #ffffff } /* Name.Variable.Global */
.highlight .vi { color: #ffffff } /* Name.Variable.Instance */
.highlight .vm { color: #ffffff } /* Name.Variable.Magic */
.highlight .il { color: rgb(199, 146, 234); font-weight: normal;} /* Literal.Number.Integer.Long */


/*:root {
--pst-color-primary: 255, 255, 255;
--pst-color-paragraph: rgba(255, 255, 255, 0.92);
}*/

.admonition.learngoals {
    border-color:#00AA55;
}

.admonition.learngoals .admonition-title{background-color: #85d08f;}
.admonition.learngoals .admonition-title:before{color:#00AA55;content:""}

.hm-lightblue {color: #4c72ca;}
.hm-red {color: #FC5555}
.hm-lightred {color: #FCCCCC;}

div.exercise {border-color: #ccc; background-color: rgba(194, 192, 189, 0.2);}
div.exercise p.admonition-title {background-color: rgba(194, 192, 189, 0.2);}

div.proof {border-color: #ccc; background-color: #FFF;}
div.proof p.admonition-title {background-color: #FFF;}
.admonition.proof .admonition-title:before{color:#FFF;content:"";}

div.theorem {border-color: #FC5555; background-color: rgba(252, 204, 204, 0.4);}
div.theorem p.admonition-title {background-color: rgba(252, 204, 204, 1.0);}
.admonition.theorem .admonition-title:before{color:#FC5555;content:""}

div.conjecture {border-color: #7d700fa6; background-color: rgba(246, 250, 146, 0.4);}
div.conjecture p.admonition-title {background-color: #ede49d;}
.admonition.conjecture .admonition-title:before{color:#7d700fa6;content:""}

.admonition.attention, div.admonition.attention {border-color: #FC5555; background-color: rgba(252, 204, 204, 0.4);}
div.admonition.attention, div.attention {border-color: #FC5555; background-color: rgba(252, 204, 204, 0.4);}
.admonition.attention {border-color: #FC5555; background-color: rgba(252, 204, 204, 0.4);}
div.attention p.admonition-title {background-color: rgba(252, 204, 204, 1.0);}
.admonition.attention>.admonition-title:before,
div.admonition.attention>.admonition-title:before,
.admonition.attention,
.admonition-title:before{color:#FC5555;content:""}
.admonition.attention,
.admonition.attention>.admonition-title,
div.admonition.attention>.admonition-title,
.admonition-title{color:#000; background-color: rgba(252, 204, 204, 1.0);}

.admonition.definition .admonition-title:before{content:""}
div.definition {border-color: rgb(0, 123, 255); background-color: rgb(90, 163, 240, 0.2);}
div.definition p.admonition-title {background-color: rgba(90, 163, 240, 0.4);}

.admonition.definition .admonition-title:before{content:""}
div.definition {border-color: rgb(0, 123, 255); background-color: rgb(90, 163, 240, 0.2);}
div.definition p.admonition-title {background-color: rgba(90, 163, 240, 0.4);}

.admonition.sc .admonition-title:before{content:""}
div.sc {border-color: rgb(0, 123, 255); background-color: rgb(90, 163, 240, 0.2);}
div.sc p.admonition-title {background-color: rgba(90, 163, 240, 0.4);}

div.remark {border-color: #ffc107; background-color: rgba(255, 193, 7, 0.2);}
div.remark p.admonition-title {background-color: rgba(255, 193, 7, 0.2);}
.admonition.remark .admonition-title:before{color:#ffc107;content:""}

.footer {
    width: auto;
    text-align: center;
    font-size: 9pt;
}

/*#main-content {
    background-color: #2D3748;
}

.row {
    background-color: #171923;
}*/

/*body {
    font-family: 400 18px/1.5 "Noto Serif", "Droid Serif", Georgia, Times, serif;
    font-size: 17px;
    font-weight: 500;
}

tbody {
    font-family: monospace;
}*/